<div class="alert alert-info">
  <div class="container">
  <h1>Nest routes demo</h1>
  <p>Powered by Angular 7</p>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <!-- sidebar menu options here-->
      <ul class="list-group">
        <li class="list-group-item">
          <a href="" [routerLink]="['/']">Home

          </a></li>
        <li class="list-group-item">
            <a href="" [routerLink]="['/java']">Java Tutorials

          </a></li>
        <li class="list-group-item">
          <a href="" [routerLink]="['/angular']">Angular Tutorials
          </a></li>
        <li class="list-group-item">
          <a href="" [routerLink]="['/nodejs']">Node.js Tutorial
          </a></li>
      </ul>
    </div>
    <div class="col-sm-8">
      <!-- router-outlet here -->
    </div>
  </div>
</div>